
<form [formGroup] = "formGroupPessoa" (submit)="CadastrarPessoa()">
  <div class="mb-3">
    <label for="nome" class="form-label" >Nome</label>
    <input type="text" class="form-control" id="nome" formControlName='nome'>
  </div>
  
  <div class="mb-3">
    <label for="cep" class="form-label" onblur="pesquisacep(this.value);">CEP</label>
    <input type="text" class="form-control" id="cep" formControlName='cep'>
  </div>
  
  <div class="mb-3">
    <label for="nome" class="form-label" >ENDERECO</label>
  <div class="input-group mb-3">
    
    <br>
    <input type="text" class="form-control" id="rua" placeholder="Rua" [value]="rua" (input)="AtualizarRua($event)"/>
    <span class="input-group-addon">-</span>
    <input type="number" class="form-control" id="num" placeholder="Numero" [value]="num" (input)="AtualizarN($event)"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="form-control" id="bairro" placeholder="Bairro" [value]="bairro" (input)="AtualizarBairro($event)"/>
      </div>
</div>
  <div class="mb-3">
    <label for="cidade" class="form-label">cidade</label>
    <input name="cidade" type="text" id="cidade" size="40" class="form-control" formControlName='cidade'>
  </div>
  <div class="mb-3">
    <label for="uf" class="form-label">Estado</label>
    <input name="uf" type="text" id="uf" size="2 " class="form-control" formControlName='uf'>
  </div>
  
  <button type="submit" class="btn btn-primary"
  [disabled]=!formGroupPessoa.valid>Cadastrar </button>

  {{ formGroupPessoa.value | json }}
  {{ formGroupPessoa.valid }}
</form>



