

<div class="p-5 mt-3 text-center bg-body-tertiary rounded-3">
  <h1 class="text-body-emphasis">Bem-vindo ao gerenciador de pessoas</h1>
  
  <div class="d-inline-flex gap-2">
    <button
      class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
      type="button"
    ><a class="nav-link active " routerLink="/adicionar" routerLinkActive="active">
      <i class="fa fa-plus-circle me-2" aria-hidden="true"></i> Adicionar
      Pessoa
    </a>
    </button>
    <button
      class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
      type="button" 
    ><a class="nav-link active " routerLink="/info" routerLinkActive="active">
      Saiba Mais
      </a>
    </button>
  </div>
</div>
<button type="button" class="btn btn-info" > <a  href="http://localhost:4200/pessoas" style="text-decoration: none; color: #ffffff;">Lista de pessoas</a></button>
<br>
<br>
<button type="button" class="btn btn-info"><a  href="http://localhost:4200/adicionar" style="text-decoration: none; color: #ffffff;">Cadastro</a></button>
